main.main-form
	.container
		.main-form__inner
			.main-form__wrapper
				.main-form__title ЗАПРОС НА ТКП (ЗТКП) Департамент продаж
				.main-form__fields.main-form__fields_3
					.main-form__block
						label.main-form__label Конечный заказчик
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Покупатель
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Сектор
						input.main-form__input(type="text" placeholder="" value="" name="")
				.main-form__fields.main-form__fields_3.main-form__fields_3-top.nopad-top
					.main-form__block
						label.main-form__label Опыт поставок или работы ранее с Конечником
						.main-form__block_flex
							label.custom-radio
								input.custom-radio__radio(name="exp" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label Да
							label.custom-radio
								input.custom-radio__radio(name="exp" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Нет
					.main-form__block
						label.main-form__label Опыт поставок или работы ранее с Покупателем
						.main-form__block_flex
							label.custom-radio
								input.custom-radio__radio(name="exp2" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label Да
							label.custom-radio
								input.custom-radio__radio(name="exp2" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Нет
				.main-form__fields.main-form__fields_3.nopad-all
					.hr.hr_min
					.hr.hr_min
					.hr.hr_min
				.main-form__fields.main-form__fields_3.main-form__fields_3-top
					.main-form__block
						label.main-form__label Этап реализации проекта
						.main-form__block_flex
							label.custom-radio
								input.custom-radio__radio(name="step" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label ПИР
							label.custom-radio
								input.custom-radio__radio(name="step" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Срочная закупка
							label.custom-radio
								input.custom-radio__radio(name="step" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Закладка в проект
							label.custom-radio
								input.custom-radio__radio(name="step" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Торги
							label.custom-radio
								input.custom-radio__radio(name="step" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Оценка бюджета
							label.custom-radio
								input.custom-radio__radio(name="step" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Наше решение в проекте
					.main-form__block
						label.main-form__label Лицо принимающее решение при изменении техники
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Требование к наличию специальной разрешительной документации
						.main-form__block_flex
							label.custom-radio
								input.custom-radio__radio(name="step2" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label Да
							label.custom-radio
								input.custom-radio__radio(name="step2" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Нет
				.main-form__fields.main-form__fields_3.nopad-all
					.hr.hr_min
					.hr.hr_min
					.hr.hr_min
				.main-form__fields.main-form__fields_3.main-form__fields_3-top
					.main-form__block.main-form__block-counter
						label.main-form__label Конкурентная среда
						.main-form__block-wrapper
							span
							input.main-form__input(type="text" placeholder="" value="" name="")
						.main-form__add-buyer#add-environment
							span Добавить
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="#346AFE" /><path d="M12 5L12 19" stroke="white" stroke-linecap="round" />  <path d="M19 12H5" stroke="white" stroke-linecap="round" /></svg>
					.main-form__block.main-form__block-counter
						label.main-form__label Критерии выбора поставщика оборудования
						.main-form__block-wrapper
							span
							input.main-form__input(type="text" placeholder="" value="" name="")
						.main-form__add-buyer#add-choice
							span Добавить
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="#346AFE" /><path d="M12 5L12 19" stroke="white" stroke-linecap="round" />  <path d="M19 12H5" stroke="white" stroke-linecap="round" /></svg>
					.main-form__block.main-form__block-counter
						label.main-form__label Причина, по которой наши шансы > 50%
						.main-form__block-wrapper
							span
							input.main-form__input(type="text" placeholder="" value="" name="")
						.main-form__add-buyer#add-reason
							span Добавить
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="#346AFE" /><path d="M12 5L12 19" stroke="white" stroke-linecap="round" />  <path d="M19 12H5" stroke="white" stroke-linecap="round" /></svg>
				.main-form__fields.main-form__fields_3.nopad-all
					.hr.hr_min
					.hr.hr_min
					.hr.hr_min
				.main-form__fields.main-form__fields_3.main-form__fields_3-2.main-form__fields_3-top
					.main-form__block
						label.main-form__label Ориентировочный период размещения в производство
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Наименование ЮЛ, от которого планируем заключение договора
						.main-form__block_flex
							label.custom-radio
								input.custom-radio__radio(name="step3" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label РСО-энерго
							label.custom-radio
								input.custom-radio__radio(name="step3" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label М4 Групп
							label.custom-radio
								input.custom-radio__radio(name="step3" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Завод Элпро
							label.custom-radio
								input.custom-radio__radio(name="step3" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Элпро
							label.custom-radio
								input.custom-radio__radio(name="step3" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Завод Элти
		.main-form__buttons
			button.main-form__button-apply(type="submit") Сохранить
			button.main-form__button-reset(type="reset") Закрыть
