main.main-form
	.container
		.main-form__inner
			.main-form__wrapper
				.main-form__title ЗАПРОС НА ТКП (ЗТКП) РТО
				.main-form__fields.main-form__fields_3.nopad-bottom
					.main-form__block
						label.main-form__label.text-bold 1. * Общие данные
				.main-form__fields.main-form__fields_3.main-form__fields_3-top.nopad-top
					.main-form__block
						label.main-form__label Дата
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Номер заявки
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Менеджер
						input.main-form__input(type="text" placeholder="" value="" name="")
						.main-form__ps указать название и место расположения объекта
				.main-form__fields.main-form__fields_3.nopad-all
					.hr.hr_min
					.hr.hr_min
					.hr.hr_min
				.main-form__fields.main-form__fields_3.main-form__fields_3-top
					.main-form__block
						label.main-form__label Наименование продукта на объекте (заполняется менеджером)
						input.main-form__input(type="text" placeholder="" value="" name="")
						.main-form__ps указать наименование оборудования (например, БКТП, КТП, РУ 10)
					.main-form__block
						label.main-form__label Наименование объекта
						input.main-form__input(type="text" placeholder="" value="" name="")
						.main-form__ps указать название и место расположения объекта
					.main-form__block
						label.main-form__label Запрос (ЗТКП)
						.main-form__block_flex
							.main-form__block_flex.main-form__block_flex-column
								label.custom-radio
									input.custom-radio__radio(name="order1" type="radio" value="" checked)
									span.custom-radio__span
									span.custom-radio__label Первичный
								label.custom-radio
									input.custom-radio__radio(name="order1" type="radio" value="")
									span.custom-radio__span
									span.custom-radio__label Повторный
							.main-form__block_flex.main-form__block_flex-column
								label.custom-radio
									input.custom-radio__radio(name="order2" type="radio" value="" checked)
									span.custom-radio__span
									span.custom-radio__label Смета
								label.custom-radio
									input.custom-radio__radio(name="order2" type="radio" value="")
									span.custom-radio__span
									span.custom-radio__label Точный расчет
				.main-form__fields.main-form__fields_3.nopad-all
					.hr.hr_min
					.hr.hr_min
					.hr.hr_min
				.main-form__fields.main-form__fields_3-top
					.main-form__block
						label.main-form__label Приложение к ТКП
						.main-form__block_flex
							+custom-checkbox('Схемы')
							+custom-checkbox('Компоновка')
							+custom-checkbox('Указать вес, габарит')
		.hr
		.main-form__inner
			.main-form__wrapper
				.main-form__fields.main-form__fields_3.main-form__fields_3-2
					.main-form__block
						label.main-form__label.text-bold 2. Тип корпуса по ТЗ Заказчика
						.main-form__block_flex
							label.custom-radio
								input.custom-radio__radio(name="type" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label ТП
							label.custom-radio
								input.custom-radio__radio(name="type1" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label РТП
							label.custom-radio
								input.custom-radio__radio(name="type1" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label РП
					.main-form__block
						label.main-form__label Приложением к запросу
						.main-form__block_flex
							label.custom-radio
								input.custom-radio__radio(name="order3" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label ТЗ без схем и компоновки
							label.custom-radio
								input.custom-radio__radio(name="order3" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label ТЗ со схемами и компоновкой
							label.custom-radio
								input.custom-radio__radio(name="order3" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Проект
				.main-form__fields.main-form__fields_3.main-form__fields_3-2.nopad-all
					.hr.hr_min
					.hr.hr_min
				.main-form__fields.main-form__fields_3.main-form__fields_3-top
					.main-form__block
						label.main-form__label Корпус
						.main-form__block_flex
							label.custom-radio
								input.custom-radio__radio(name="order4" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label Бетон
							label.custom-radio
								input.custom-radio__radio(name="order4" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Сэндвич
							label.custom-radio
								input.custom-radio__radio(name="order4" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label КТП цинк
							label.custom-radio
								input.custom-radio__radio(name="order4" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label КТП сварка
							label.custom-radio
								input.custom-radio__radio(name="order4" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Вн.устан.
				.main-form__fields.main-form__fields_3.nopad-all
					.hr.hr_min
					.hr.hr_min
					.hr.hr_min
				.main-form__fields.main-form__fields_3.main-form__fields_3-top
					.main-form__block
						label.custom-radio
							input.custom-radio__radio.change-radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Габарит согласно ТЗ/проекта
						input.main-form__input(type="text" placeholder="" value="" name="" disabled)
					.main-form__block
						label.custom-radio
							input.custom-radio__radio.change-radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Возможно изменение габарита
						input.main-form__input(type="text" placeholder="" value="" name="" disabled)
						.main-form__ps указать требования по габариту
					.main-form__block
						label.custom-radio
							input.custom-radio__radio.change-radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Предложить аналог
						input.main-form__input(type="text" placeholder="" value="" name="" disabled)
						.main-form__ps указать наименование производителя
					.main-form__block
						label.custom-radio
							input.custom-radio__radio.change-radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Чьё решение в проекте
						input.main-form__input(type="text" placeholder="" value="" name="" disabled)
		.hr
		.main-form__inner
			.main-form__wrapper
				.main-form__fields.main-form__fields_3.nopad-bottom
					.main-form__block
						label.main-form__label.text-bold 3. Тип РУВН по ТЗ Заказчика
				.main-form__fields.main-form__fields_3.main-form__fields_3-top.nopad-bottom
					.main-form__block
						label.main-form__label.main-form__label_between
							span.text-bold РУВН
							span Тип/производитель ВВ по ТЗ/проекту
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.custom-radio
							input.custom-radio__radio.change-radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Предложить аналог
						input.main-form__input(type="text" placeholder="" value="" name="")
						.main-form__ps указать наименование производителя
					.main-form__block
						label.custom-radio
							input.custom-radio__radio.change-radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Наличие регистрации у вендора
						input.main-form__input(type="text" placeholder="" value="" name="")
						.main-form__ps указать наименование производителя
				.main-form__fields.main-form__fields_3.main-form__fields_3-top
					.main-form__block
						.main-form__block_flex
							label.custom-radio
								input.custom-radio__radio(name="ruvn" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label RMЕ
							label.custom-radio
								input.custom-radio__radio(name="ruvn" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label КРУ М4
							label.custom-radio
								input.custom-radio__radio(name="ruvn" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label КСО 3 серии ВВ
							label.custom-radio
								input.custom-radio__radio(name="ruvn" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label КСО 3 серии
							label.custom-radio
								input.custom-radio__radio(name="ruvn" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label КРУ М4 Pro
							label.custom-radio
								input.custom-radio__radio(name="ruvn" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label КСО 2 серии
							label.custom-radio
								input.custom-radio__radio(name="ruvn" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Иное
							input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.custom-radio
							input.custom-radio__radio.change-radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Чьё решение в проекте
						input.main-form__input(type="text" placeholder="" value="" name="")
						.main-form__ps указать наименование производителя
					.main-form__block
						label.custom-radio
							input.custom-radio__radio.change-radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Тип защиты
						input.main-form__input(type="text" placeholder="" value="" name="")
						.main-form__ps указать наименование производителя
		.hr
		.main-form__inner
			.main-form__wrapper
				.main-form__fields.main-form__fields_3.nopad-bottom
					.main-form__block
						label.main-form__label.text-bold 4. Тип РУНН по ТЗ Заказчика
				.main-form__fields.main-form__fields_3.main-form__fields_3-top
					.main-form__block
						.main-form__block
							label.main-form__label.main-form__label_between
								span.text-bold РУНН
								span Тип/производитель ВВ по ТЗ/проекту
							input.main-form__input(type="text" placeholder="" value="" name="")
						.main-form__block_flex
							label.custom-radio
								input.custom-radio__radio(name="type1" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label ЩО
							label.custom-radio
								input.custom-radio__radio(name="type1" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label НКУ
							label.custom-radio
								input.custom-radio__radio(name="type1" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label ШРНН
							label.custom-radio
								input.custom-radio__radio(name="type1" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Иное
							input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Исполнение ВА
						.main-form__block_flex
							label.custom-radio
								input.custom-radio__radio(name="isp" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label Стационарное
							label.custom-radio
								input.custom-radio__radio(name="isp" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Втычное
							label.custom-radio
								input.custom-radio__radio(name="isp" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Выкатное
						.main-form__block
							label.custom-radio
								input.custom-radio__radio.change-radio(name="" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Предложить аналог ВА
							input.main-form__input(type="text" placeholder="" value="" name="")
							.main-form__ps указать наименование производителя
						.main-form__block
							label.custom-radio
								input.custom-radio__radio.change-radio(name="" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Чьё решение в проекте
							input.main-form__input(type="text" placeholder="" value="" name="")
							.main-form__ps указать наименование производителя
						.main-form__block
							label.custom-radio
								input.custom-radio__radio.change-radio(name="" type="radio" value="")
								span.custom-radio__span
								span.custom-radio__label Наличие регистрации у вендора
							input.main-form__input(type="text" placeholder="" value="" name="")
							.main-form__ps указать наименование производителя
					.main-form__block
						label.main-form__label Подключение силового трансформатора
						.main-form__block_flex
							label.custom-radio
								input.custom-radio__radio(name="pokl" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label Кабель
							label.custom-radio
								input.custom-radio__radio(name="pokl" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label Шинный мост
							label.custom-radio
								input.custom-radio__radio(name="pokl" type="radio" value="" checked)
								span.custom-radio__span
								span.custom-radio__label Шинопровод
						.main-form__block
							input.main-form__input(type="text" placeholder="" value="" name="")
							.main-form__ps указать наименование производителя
		//- .hr
		//- .main-form__inner
		//- 	.main-form__grid_columns
		//- 		.main-form__wrapper.main-form__wrapper_40
		//- 			.main-form__title ИТОГ МОЕЙ ТЕКУЩЕЙ ПОЗИЦИИ
		//- 		.main-form__wrapper.main-form__wrapper_20
		//- 			.main-form__title.nopad-right.nopad-left ВОЗМОЖНЫЕ ДЕЙСТВИЯ
		//- 		.main-form__wrapper.main-form__wrapper_40
		//- 			.main-form__title.nopad-left НАИЛУЧШИЙ ПЛАН ДЕЙСТВИЙ
		//- 	.main-form__grid_columns
		//- 		.main-form__wrapper.main-form__wrapper_40
		//- 			.main-form__fields.nopad-right
		//- 				.main-form__block
		//- 					label.main-form__label.main-form__label_noclick
		//- 						span.circle-blue
		//- 						| СИЛЬНЫЕ СТОРОНЫ
		//- 					input.main-form__input(type="text" placeholder="" value="" name="")
		//- 		.main-form__wrapper.main-form__wrapper_20
		//- 			.main-form__fields.nopad-right.nopad-left
		//- 				.main-form__block
		//- 					label.main-form__label &nbsp;
		//- 					input.main-form__input(type="text" placeholder="" value="" name="")
		//- 		.main-form__wrapper.main-form__wrapper_40
		//- 			.main-form__fields.main-form__fields_3.nopad-left
		//- 				.main-form__block
		//- 					label.main-form__label Что
		//- 					input.main-form__input(type="text" placeholder="" value="" name="")
		//- 				.main-form__block
		//- 					label.main-form__label Кто
		//- 					input.main-form__input(type="text" placeholder="" value="" name="")
		//- 				.main-form__block
		//- 					label.main-form__label Когда
		//- 					input.main-form__input(type="text" placeholder="" value="" name="")
		//- 	.main-form__add-buyer#add-strong
		//- 		span Добавить
		//- 		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="#346AFE" /><path d="M12 5L12 19" stroke="white" stroke-linecap="round" />  <path d="M19 12H5" stroke="white" stroke-linecap="round" /></svg>
		//- 	.main-form__grid_columns
		//- 		.main-form__wrapper.main-form__wrapper_40
		//- 			.main-form__fields.nopad-right
		//- 				.main-form__block
		//- 					label.main-form__label.main-form__label_noclick
		//- 						span.circle-red
		//- 						| КРАСНЫЕ ФЛАГИ
		//- 					input.main-form__input(type="text" placeholder="" value="" name="")
		//- 		.main-form__wrapper.main-form__wrapper_20
		//- 			.main-form__fields.nopad-right.nopad-left
		//- 				.main-form__block.main-form__block_column-2
		//- 					label.main-form__label Необходимая информация
		//- 					input.main-form__input(type="text" placeholder="" value="" name="")
		//- 		.main-form__wrapper.main-form__wrapper_40
		//- 			.main-form__fields.main-form__fields_3.nopad-left
		//- 				.main-form__block
		//- 					label.main-form__label От кого
		//- 					input.main-form__input(type="text" placeholder="" value="" name="")
		//- 	.main-form__add-buyer#add-red
		//- 		span Добавить
		//- 		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="#346AFE" /><path d="M12 5L12 19" stroke="white" stroke-linecap="round" />  <path d="M19 12H5" stroke="white" stroke-linecap="round" /></svg>
		.main-form__buttons
			button.main-form__button-apply(type="submit") Сохранить
			button.main-form__button-reset(type="reset") Закрыть
