main.main-form
	.container
		.main-form__grid_columns.main-form__grid_columns_2
			.main-form__inner.main-form__inner_row
				.main-form__title Заголовок формы
				.main-form__fields
					.main-form__block
						label.main-form__label Дата открытия:
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Дата изменения:
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Продавец:
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Клиент/Потенц. клиент:
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Клиент/Потенц. клиент:
						textarea.main-form__textarea
			.main-form__inner
				.main-form__title ОЦЕНКА МОЕЙ ТЕКУЩЕЙ ПОЗИЦИИ
				.main-form__fields
					.main-form__block.main-form__block_flex
						label.custom-radio
							input.custom-radio__radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Эйфория
						label.custom-radio
							input.custom-radio__radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Отлично
						label.custom-radio
							input.custom-radio__radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Надежно
						label.custom-radio
							input.custom-radio__radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Комфортно
						label.custom-radio
							input.custom-radio__radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Ок
						label.custom-radio
							input.custom-radio__radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Беспокойно
						label.custom-radio
							input.custom-radio__radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Дискомфорт
						label.custom-radio
							input.custom-radio__radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Тревожно
						label.custom-radio
							input.custom-radio__radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Страшно
						label.custom-radio
							input.custom-radio__radio(name="" type="radio" value="")
							span.custom-radio__span
							span.custom-radio__label Паника
			.main-form__inner
				.main-form__title КОНКУРЕНЦИЯ
				.main-form__fields
					.main-form__block
						label.main-form__label Тип конкуренции:
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Опишите конкурента (ов):
						textarea.main-form__textarea
					.main-form__block
						label.main-form__label Позиция по отношению к конкурентам:
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Позиция в воронке продаж:
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Планирование времени и приоритетов:
						input.main-form__input(type="text" placeholder="" value="" name="")
		.hr
		.main-form__grid_columns.main-form__grid_columns_2
			.main-form__inner.main-form__inner_row
				.main-form__title ЕДИНИЧНАЯ ЦЕЛЬ ПРОДАЖИ
				.main-form__fields
					.main-form__block
						label.main-form__label Продукт/Услуга:
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Доход от продажи/Др. Ед.:
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Дата закрытия:
						input.main-form__input(type="text" placeholder="" value="" name="")
			.main-form__inner.main-form__inner_row
				.main-form__title КРИТЕРИИ ИДЕАЛЬНОГО КЛИЕНТА
					span (Оцените критерии. 0 или 20)
				.main-form__fields.main-form__fields_3
					.main-form__block
						label.main-form__label Достаточный бюджет / Финансовая дисциплина
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Продуктовое соответствие (технически сложное решение)
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Наличие не менее 1 (одного) Наставника
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Наличие доступа к Покупателям с Высоким влиянием
						input.main-form__input(type="text" placeholder="" value="" name="")
					.main-form__block
						label.main-form__label Наличие чёткого процесса покупки
						input.main-form__input(type="text" placeholder="" value="" name="")
					