// *,
// *::after,
// *::before {
//   box-sizing: border-box;
// }


// html {
//   font-size: 10px;
//   scroll-behavior: smooth;

//   @media (max-width: 1240px) {
//     font-size: 9px;
//   }

//   @media (max-width: 1116px) {
//     font-size: 8px;
//   }

//   @media (max-width: 992px) {
//     font-size: 7px;
//   }

//   @media (max-width: 868px) {
//     font-size: 6px;
//   }

// }

// blockquote,
// body,
// dd,
// dl,
// figcaption,
// figure,
// h1,
// h2,
// h3,
// h4,
// li,
// ol,
// p,
// ul {
//   margin: 0;
// }

body {
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

:active,
:focus {
  outline: none !important;
}

::-moz-focus-inner {
  border: 0 !important;
}

.main-form {

  max-height: 90vh;
  overflow-y: scroll;

  * {
    box-sizing: border-box;
  }

  .container {
    max-width: 1336px;
    padding: 20px;
    margin: 0 auto;
  }

  &__grid_columns {
    display: flex;
    gap: 40px;
    // display: grid;
    // gap: 4%;
    // grid-template-columns: 1fr;

    &_2 {
      // grid-template-columns: 40% 56%;
      // gap: 4%;
    }

    &_column {
      flex-direction: column;
    }
  }

  &__inner {
    box-shadow: 3px 3px 23px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 12px;

    &_40 {
      width: 41%;
      flex: none;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #346afe;
    padding: 39px 36px 13px 36px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    span {
      font-size: 12px;
      text-transform: none;
    }
  }

  &__fields {
    padding: 35px;
    // padding-right: 95px;
    display: flex;
    flex-direction: column;
    gap: 35px;

    &_2 {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }

    &_3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: flex-end;
      // padding-right: 35px;
    }

    &_line {
      display: flex;
      gap: 25px;

      .main-form__block {
        flex: 1
      }
    }

  }

  &__block {
// display:flex;
//       flex-direction: column;
//       gap:4px;
    // margin-bottom: 25px;
    &_flex {
      display: flex;
      gap: 17px;
      flex-wrap: wrap;
    }

    &_column-2 {
      grid-column: span 2;
    }
  }

  &__wrapper {
    &_49 {
      width: 49%;
    }
    &_40{
      width:40%
    }
    &_20{
      width:20%;
    }

    &_62 {
      width: 62%;
    }

    &_27 {
      width: 27%;
    }

  }

  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #000;
    display: block;
    margin-bottom: 4px;
    display: flex;
    align-items: flex-start;
    gap: 5px;

    &.active-red:before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #FE3434;
      flex: none;
      margin-top: 3px;
    }

    &.active-blue:before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #346AFE;
      flex: none;
      margin-top: 3px;
    }

    &_2 {
      min-height: 2.6em;
    }
  }


  &__input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 40px;
    padding: 0 10px;
    width: 100%;
    border-radius: 0;
    display: block;
  }

  &__textarea {
    width: 100%;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    height: 100px;
    display: block;

    &_min {
      height: 70px;
    }
  }

  &__add-buyer {
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    letter-spacing: -0.03em;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

  }

  .nopad-right {
    padding-right: 0;
  }
  .nopad-all{
    padding-top:0;
    padding-bottom: 0;
  }
  .nopad-top{
    padding-top:0;
  }

  .nopad-left {
    padding-left: 0;
  }

  #add-strong, #add-red{
    margin-left: 35px;
  }
  #add-red{
    padding-bottom: 35px;
  }

  .main-form__input+.main-form__add-buyer {
    margin-top: 12px;
  }
  .main-form__input+.main-form__label {
    margin-top: 12px;
  }

  .circle-blue {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #346AFE;
  }

  .circle-red {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FE3434;
  }

  .hr {
    margin: 50px 0;
    border-top: 1px solid #ccc;
    grid-column: 2;
  }

  .custom-radio {
    display: inline-flex;
    gap: 7px;
  }

  .custom-radio+.custom-radio {
    // margin-left: 17px;
  }

  .custom-radio__radio {
    display: none;
  }

  .custom-radio__span {
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 999px;
    cursor: pointer;
    background: none;
  }

  @media (max-width: 767px) {
    .custom-radio__span {
      // width: 2rem;
      // height: 2rem;
      // border-width: 1.67px;
    }
  }

  .custom-radio__span,
  .custom-radio__label {
    display: block;
  }

  .custom-radio__span {
    // margin-top: 0.2rem;
  }

  .custom-radio__label {
    color: #000;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.03em;
  }

  @media (max-width: 767px) {
    .custom-radio__label {
      font-size: 1.6rem;
    }
  }

  .custom-radio__label a {
    text-decoration: underline;
  }

  .custom-radio__label a:hover {
    text-decoration: none;
  }

  .custom-radio__radio:checked+.custom-radio__span {
    border-color: #346afe;
  }

  .custom-radio__radio:checked+.custom-radio__span::before {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 99px;
    background: #346afe;
    left: 2px;
    top: 2px;
  }

  @media (max-width: 767px) {
    .custom-radio__radio:checked+.custom-radio__span::before {
      width: 1rem;
      height: 1rem;
    }
  }

  .custom-radio__radio:checked+.custom-radio__span+.custom-radio__label {
    // color: #346afe;
  }
}